<h1>Todos</h1>
<table>
    <tr>
        <th *ngFor="let column of headers">
            {{ column }}
        </th>
    </tr>
    <tr *ngFor="let row of allTodos">
        <td> {{ row.id }} </td>
        <td> {{ row.description}} </td>
        <td> {{ row.summary}} </td>
        <td>
            <button (click)="deleteTodo(row.id)">Delete</button>
        </td>
    </tr>
</table>
<button (click)="refresh()">Refresh todos</button>

<h2>Todo</h2>
    <label for="desc">Description:</label><br>
        <input [(ngModel)]="summary" type="text" id="description" name="description"><br>
    <label for="sum">Summary:</label><br>
        <input [(ngModel)]="description" type="text" id="summary" name="summary"><br>
<button (click)="createTodo(summary, description)">Add</button>